<div class="card">
  <img src="https://www.shutterstock.com/shutterstock/photos/1127238599/display_1500/stock-photo--micro-peacock-feather-hd-image-best-texture-background-colourful-indian-peacock-feather-1127238599.jpg" alt="post-image" class="card-img-top">
  
  <div class="card-body">
    <small class="text-danger text-center">Fortnite</small>
    <small class="text-success text-center ml-3">Featured</small>
    <small class="text-info text-center ml-3">Views - 100,256</small>

    <h5 class="mt-1">How popular is PubG?</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

    <small class="text-warning text-center ml-3">Last updated - Sep 30th 2022</small>

  </div>
</div>
